@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
html {
    font-size: 100%;
}
body {
    font-family: "Roboto";
    background: #f3f4f6;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
